@font-face {
  font-family: 'Avenir Next Condensed';
  src: url('https://s3.amazonaws.com/learn-verified/Avenir+Next+Condensed.ttc');
}
header h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10px;
}
header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
header a {
  border: 1px solid black;
  margin: 25px 50px 50px 100px;
  background-color: lightblue;
}
section figure {
  border: none;
  margin: 5px 50px 50px 400px;
  background-color: white;
}
section h3, p {
  display: block;
  padding: 8px;
  border: none;
  margin: 5px 10px 25px 400px;
  background-color: white;
}
section div {
  display: block;
  padding: 8px;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}
p#featured-property {
  width: 800px;
}